* {
	padding: 0;
	margin: 0;
}

body {
	
}

.main-container {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.landing-page {
	position: relative;
}

.homepage {
	border: none;
	overflow: hidden;
	position: absolute;
    z-index: 0;
    top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url("background.jpg");
	background-size: cover;
	opacity: 0.22;
	filter: blur(0px);
}

.landing-header {
	font-family: 'Poppins', sans-serif;
	position: relative;
	animation: header;
	animation-fill-mode: forwards;
	animation-delay: 0.25s;
	animation-duration: 1.35s;
}

@keyframes header {
	0% {transform: translateX(110%);}
	100% {transform: translateX(0%);}
}

.header-emphasis-one {
	text-decoration: underline;
}

.header-emphasis-two {
	color: #00b300;
}

.landing-subheader {
	font-family: 'Poppins', sans-serif;
	position: relative;
	animation: subheader;
	animation-fill-mode: forwards;
	animation-delay: 0.25s;
	animation-duration: 1.35s;
}

@keyframes subheader {
	0% {transform: translateX(-110%);}
	100% {transform: translateX(0%);}
}

.landing-subheader-emphasis {
	position: relative;
	color: green;
	animation: subheader-emphasis;
	animation-duration: 5s;
	animation-delay: 0.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes subheader-emphasis {
	0% {color: rgb(0, 95, 0);}
	10% {color: rgb(0, 102, 0);}
	20% {color: rgb(0, 128, 0);}
	30% {color: rgb(0, 153, 0);}
	40% {color: rgb(0, 179, 0);}
	50% {color: rgb(0, 204, 0);}
	60% {color: rgb(0, 230, 0);}
	70% {color: rgb(0, 245, 0);}
	80% {color: rgb(0, 230, 0);}
	90% {color: rgb(0, 175, 0);}
	100% {color: rgb(0, 125, 0);}
}

.down-arrow {
	position: relative;
	right: 2%;
	left: 2%;
	opacity: 0.75;
	padding: 10px;
	z-index: 9999;
	transition: all .2s; 
}

.down-arrow:hover {
	transform: translateY(15px);
	opacity: 1.0;
}

.navbar {
	text-decoration: none;
	list-style-type: none;
	overflow: hidden;
	position: relative;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-weight: bold;
}

.navbar-list {
	font-family: 'Nunito', sans-serif;
	display: inline-block;
	padding-top: 1%;
	opacity: 1.0;
	position: relative;
	color: black;
}

.navbar-list a:hover {
	transition-duration: 0.26s;
	color: #00cc00;
}

.navbar-list a:before {
	content: "";
	position: absolute;
	height: 2px;
	background-color: black;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.25s ease-in-out 0s;
	width: 100%;
  	bottom: 0;
  	left: 0;
}

.navbar-list a:hover:before {
	color: black;
	visibility: visible;
	transform: scaleX(1);
}

a {
	text-decoration: none;
	color: black;
}

strong {
	font-weight: bold;
}

body {
	opacity: 1;
}

.section-header {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 0.05em;
}

.section-subheader {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.advisor-description {
	font-family: 'Nunito', sans-serif;
	line-height: 1.37em;
	margin-top: 0.15em;
}

.advisor-name {
	font-family: 'Nunito', sans-serif;
}

.advisor-box {
	width: 22.5%;
	height: 450px;
	border: 2.5px solid rgba(0, 230, 0, 0.45);
	margin-top: 4%;
	transform: 0;
	transition: transform .20s;
	border-radius: 30px;
	padding: 2%;
}

.advisor-image {
	border-radius: 50%;
	border: 2px solid rgba(102, 255, 51, 0.60);
	margin: 8px;
}

.advisor-colors {
	fill: black;
	transition-duration: 0.35s;
}

.advisor-colors:hover {
	fill: #00cc00;
}

.advisor-paragraph-container {
	width: 100%;
	overflow: scroll;
}

.eboard-description {
	font-family: 'Nunito', sans-serif;
	line-height: 1.30em;
	margin-top: 2%;
}

.eboard-name {
	font-family: 'Nunito', sans-serif;
	margin-bottom: 0.75%;
}

.eboard-box {
	border: 2px solid rgba(0, 204, 0, 0.45);
	padding: 1%;
	transition: transform .25s;
	border-radius: 25px;
}

.eboard-box:hover {
	transform: scale(1.15);
}

.eboard-image {
	border-radius: 50%;
	border: 2px solid rgba(102, 255, 51, 0.60);
	margin: 8px;
}

.eboard-paragraph-container {
	width: 100%;
	overflow: scroll;
}

.eboard-colors {
	height: 37px;
	width: 37px;
	fill: black;
	padding: 0px;
	transition-duration: 0.30s;
}

.eboard-colors:hover {
	fill: #00cc00;
}

#box {
	border: 4px solid #99cc00;
	border-radius: 30px;
	margin-top: 4%;
	overflow: scroll;
	position: relative;
}

.check-in-frame {
	border: 4px solid #ace600;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 7%;
    margin-top: 4%;
}

.check-out-frame {
	border: 4px solid #99cc00;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 7%;
}

.contact-steps {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.step-boxes {
	border: 3px solid black;
	border-radius: 25px;
	padding: 1%;
	margin: 4% 3%;
	opacity: 0.85;
	transition: .2s;
}

.step-boxes:hover {
	transform: scale(1.10);
	opacity: 1.0;
}

.steps-header {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	margin-top: 2.5%;
}

.steps-paragraph {
	font-family: 'Nunito', sans-serif;
	margin-top: 4%;
	margin-bottom: 2%;
	line-height: 1.50em;
}

.step-boxes:hover .steps-header {
	text-decoration: underline;
	text-decoration-color: rgb(102, 255, 51);
}

#steps-colors-one {
	margin-top: 3.5%;
	margin-bottom: 8%;
}

#steps-colors-two {
	display: inline-block;
	margin-right: 6.5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

#steps-colors-three {
	display: inline-block;
	margin-right: 6.5%;
	margin-top: 3%;
	margin-bottom: 3%;
}

#steps-colors-four {
	display: inline-block;
	margin-top: 3%;
	margin-bottom: 3%;
}

.steps-colors {
	padding: 0px;
}

.steps-colors path {
	fill: green;
	transition-duration: 0.40s;
}

.steps-colors:hover path {
	fill: #00cc00;
}

.eboard-callout {
	text-decoration: underline;
	transition-duration: 0.31s;
}

.eboard-callout:hover {
	text-decoration-color: rgb(102, 255, 51);
	color: rgba(102, 255, 51, 0.75);
}

.up-button {
	margin-top: 4em;
	transition-duration: .4s;
}

.up-button:hover {
	transform: translateY(-1.75vh);
}

.up-button path {
	fill: black;
	transition-duration: 0.20s;
}

.up-button:hover path {
	fill: #00cc00;
}

.footer {
	margin-top: 2.0em;
	width: 90%;
	display: flex;
	align-items: center;
	margin-bottom: 2vh;
}

.footer-colors {
	display: inline-block;
	padding: 0px;
}

.footer-colors path {
	fill: green;
	transition-duration: 0.40s;
}

.footer-colors:hover path {
	fill: #00cc00;
}

.copyright {
	font-family: 'Nunito', sans-serif;
	display: inline-block;
}

.copyright-box {
	width: 1fr;
	display: inline-block;
	height: auto;
}

.signature {
	font-family: 'Nunito', sans-serif;
	display: inline-block;
}

.signature-box {
	width: 1fr;
	display: inline-block;
	height: auto;
}

.signature-name {
	font-family: 'Permanent Marker', cursive;
	text-decoration: underline;
}

.signature-name a {
	transition: 0.45s;
}

.signature-name a:hover {
	color: rgba(102, 255, 51, 0.75);
	text-decoration-color: rgb(102, 255, 51);
}

.footer-icons {
	display: inline-block;
}

.calendar {
	margin-top: 4%;
	border: 4px solid #99cc00;
	border-radius: 30px;
	overflow: scroll;
	z-index: 9999;
}


@media (min-width: 100px) {
	.landing-header {
		font-size: 26px;
		margin-top: 27.5vh;
	}
	.landing-subheader {
		font-size: 19px;
		margin-top: 16.50vh;
	}
	.navbar {
		margin-top: 13%; 
	}
	.navbar-list {
		font-size: 13.25px;
		margin: 0.25% 1.0%;
	}
	.section-header {
		font-size: 28px;
	}
	.section-subheader {
		font-size: 14px;
	}
	.calendar {
		width: 78%;
		height: 375px;
	}
	#box {
		width: 78%;
		height: 375px;
	}
	.check-in-frame {
		width: 78%;
		height: 425px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.check-out-frame {
		width: 78%;
		height: 425px;
		display: block;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}
	.copyright {
		font-size: 11px;
	}
	.signature {
		font-size: 11px;
	}
	.advisor-name {
		font-size: 14px;
	}
	.eboard-name {
		font-size: 13px;
	}
	.advisor-description {
		font-size: 12.75px;
	}
	.eboard-description {
		font-size: 11.50px;
	}
	.advisor-image {
		max-width: 100px;
		height: auto;
	}
	.eboard-image {
		max-width: 75px;
		height: auto;
	}
	.advisor-colors {
		height: 34px;
		width: 34px;
	}
	.steps-header {
		font-size: 18.5px;
	}
	.steps-paragraph {
		font-size: 12.5px;
	}
	.steps-colors {
		width: 32px;
		height: 32px;
	}
	.medal {
		max-width: 55px;
		height: auto;
	}
	.footer-colors {
		width: 24px;
		height: 24px;
	}
	.down-arrow {
		max-width: 35px;
		height: auto;
		margin-top: 17vh;
	}
	.up-button {
		width: 42px;
		height: 42px;
	}
	.step-boxes {
		width: 65%;
		height: auto;
		padding: 2%;
	}
	.advisor-box {
		width: 60%;
		height: auto;
		margin: 2% 1.0%;
	}
	.eboard-box {
		width: 40%;
		height: 350px;
		margin: 1.75% 1%;
	}
	.eboard-paragraph-container {
		height: 170px;
	}
	.advisor-box:hover {
		transform: scale(1.04);
	}
	.eboard-box:hover {
		transform: scale(1.03);
	}
	.footer-icons {
		display: inline-block;
	}
	.signature-box {
		width: 1fr;
		display: inline-block;
	}
	.copyright-box {
		width: 1fr;
		display: inline-block;
	}
	.footer {
		margin-top: 2.0em;
		width: 90%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.signature-name {
		font-size: 12.5px;
	} 
	.advisor-paragraph-container {
		height: auto;
		padding: 2%;
	}
	
}

@media (min-width: 480px) {
	.landing-header {
		font-size: 30px;
		margin-top: 27.5vh;
	}
	.landing-subheader {
		font-size: 23px;
		margin-top: 16.50vh;
	}
	.navbar {
		margin-top: 8%; 
	}
	.navbar-list {
		font-size: 15.5px;
		margin: 0.25% 2%;
	}
	.section-header {
		font-size: 32px;
	}
	.section-subheader {
		font-size: 16px;
	}
	.calendar {
		width: 76%;
		height: 400px;
	}
	#box {
		width: 76%;
		height: 400px;
	}
	.check-in-frame {
		width: 75%;
		height: 500px;
		display: block;
	}
	.check-out-frame {
		width: 75%;
		height: 500px;
		display: block;
		margin-top: 0em;
	}
	.copyright {
		font-size: 14px;
	}
	.signature {
		font-size: 14px;
	}
	.advisor-name {
		font-size: 15px;
	}
	.eboard-name {
		font-size: 14px;
	}
	.advisor-description {
		font-size: 13.75px;
	}
	.eboard-description {
		font-size: 13px;
	}
	.advisor-image {
		max-width: 125px;
		height: auto;
	}
	.eboard-image {
		max-width: 100px;
		height: auto;
	}
	.advisor-colors {
		height: 39px;
		width: 39px;
	}
	.steps-header {
		font-size: 20px;
	}
	.steps-paragraph {
		font-size: 14px;
	}
	.steps-colors {
		width: 36px;
		height: 36px;
	}
	.medal {
		max-width: 70px;
		height: auto;
	}
	.footer-colors {
		width: 22px;
		height: 22px;
	}
	.down-arrow {
		max-width: 36px;
		height: auto;
		margin-top: 18.75vh;
	}
	.up-button {
		width: 43px;
		height: 43px;
	}
	.step-boxes {
		width: 75%;
		height: 350px;
	}
	.advisor-box {
		width: 55%;
		height: 475px;
		margin: 2% 1.0%;
	}
	.eboard-box {
		width: 36%;
		height: 425px;
		margin: 1.75% 2%;
	}
	.eboard-paragraph-container {
		height: 163px;
	}
	.advisor-box:hover {
		transform: scale(1.15);
	}
	.eboard-box:hover {
		transform: scale(1.15);
	}
	.footer-icons {
		display: inline-block;
	}
	.signature-box {
		width: 1fr;
		display: inline-block;
	}
	.copyright-box {
		width: 1fr;
		display: inline-block;
	}
	.footer {
		margin-top: 2.0em;
		width: 90%;
		justify-content: space-between;
	}
	.signature-name {
		font-size: 15.25px;
	}
	.advisor-paragraph-container {
		height: 155px;
	}
	
}


@media (min-width: 768px) {
	.landing-header {
		font-size: 38px;
		margin-top: 27.5vh;
	}
	.landing-subheader {
		font-size: 29px;
		margin-top: 16.50vh;
	}
	.navbar {
		margin-top: 7%; 
	}
	.navbar-list {
		font-size: 18.5px;
		margin: 0.25% 4%;
	}
	.section-header {
		font-size: 36px;
	}
	.section-subheader {
		font-size: 18px;
	}
	.calendar {
		width: 74%;
		height: 450px;
	}
	#box {
		width: 74%;
		height: 450px;
	}
	.check-in-frame {
		width: 37%;
		height: 550px;
		display: inline-block;
	}
	.check-out-frame {
		width: 37%;
		height: 550px;
		display: inline-block;
		margin-top: 0em;
	}
	.copyright {
		font-size: 13px;
	}
	.signature {
		font-size: 13px;
	}
	.advisor-name {
		font-size: 16px;
	}
	.eboard-name {
		font-size: 15px;
	}
	.advisor-description {
		font-size: 14.75px;
	}
	.eboard-description {
		font-size: 14px;
	}
	.advisor-image {
		max-width: 150px;
		height: auto;
	}
	.eboard-image {
		max-width: 125px;
		height: auto;
	}
	.advisor-colors {
		height: 44px;
		width: 44px;
	}
	.steps-header {
		font-size: 22px;
	}
	.steps-paragraph {
		font-size: 16px;
	}
	.steps-colors {
		width: 40px;
		height: 40px;
	}
	.medal {
		max-width: 85px;
		height: auto;
	}
	.footer-colors {
		width: 26px;
		height: 26px;
	}
	.down-arrow {
		max-width: 37px;
		height: auto;
		margin-top: 18.75vh;
	}
	.up-button {
		width: 44px;
		height: 44px;
	}
	.step-boxes {
		width: 25%;
		height: 350px;
	}
	.advisor-box {
		width: 25%;
		height: 475px;
		margin: 2% 1.0%;
	}
	.eboard-box {
		width: 19%;
		height: 425px;
		margin: 1.75% 1.25%;
	}
	.eboard-paragraph-container {
		height: 163px;
	}
	.advisor-box:hover {
		transform: scale(1.15);
	}
	.eboard-box:hover {
		transform: scale(1.15);
	}
	.footer-icons {
		display: inline-block;
	}
	.signature-box {
		width: 1fr;
		display: inline-block;
	}
	.copyright-box {
		width: 1fr;
		display: inline-block;
	}
	.footer {
		margin-top: 2.0em;
		width: 90%;
		justify-content: space-between;
	}
	.signature-name {
		font-size: 15.25px;
	}
	.advisor-paragraph-container {
		height: 155px;
	}
}

@media (min-width: 979px) {
	.landing-header {
		font-size: 45px;
		margin-top: 27.5vh;
	}
	.landing-subheader {
		font-size: 32px;
		margin-top: 16.50vh;
	}
	.navbar {
		margin-top: 2.5%; 
	}
	.navbar-list {
		font-size: 19.5px;
		margin: 0.25% 4.50%;
	}
	.section-header {
		font-size: 38px;
	}
	.section-subheader {
		font-size: 19px;
	}
	.calendar {
		width: 72%;
		height: 480px;
	}
	#box {
		width: 72%;
		height: 480px;
	}
	.check-in-frame {
		width: 36%;
		height: 550px;
		display: inline-block;
	}
	.check-out-frame {
		width: 36%;
		height: 550px;
		display: inline-block;
		margin-top: 0em;
	}
	.copyright {
		font-size: 14px;
	}
	.signature {
		font-size: 14px;
	}
	.advisor-name {
		font-size: 16.5px;
	}
	.eboard-name {
		font-size: 15.5px;
	}
	.advisor-description {
		font-size: 15.25px;
	}
	.eboard-description {
		font-size: 14.5px;
	}
	.advisor-image {
		max-width: 165px;
		height: auto;
	}
	.eboard-image {
		max-width: 140px;
		height: auto;
	}
	.advisor-colors {
		height: 46px;
		width: 46px;
	}
	.steps-header {
		font-size: 23px;
	}
	.steps-paragraph {
		font-size: 17px;
	}
	.steps-colors {
		width: 46px;
		height: 46px;
	}
	.medal {
		max-width: 95px;
		height: auto;
	}
	.footer-colors {
		width: 28px;
		height: 28px;
	}
	.down-arrow {
		max-width: 37.5px;
		height: auto;
		margin-top: 18.75vh;
	}
	.up-button {
		width: 44.5px;
		height: 44.5px;
	}
	.step-boxes {
		width: 24%;
		height: 350px;
	}
	.advisor-box {
		width: 22%;
		height: 475px;
		margin: 2% 3.0%;
	}
	.eboard-box {
		width: 19%;
		height: 425px;
		margin: 1.75% 1.50%;
	}
	.eboard-paragraph-container {
		height: 163px;
	}
	.advisor-box:hover {
		transform: scale(1.15);
	}
	.eboard-box:hover {
		transform: scale(1.15);
	}
	.footer-icons {
		display: inline-block;
	}
	.signature-box {
		width: 1fr;
		display: inline-block;
	}
	.copyright-box {
		width: 1fr;
		display: inline-block;
	}
	.footer {
		margin-top: 2.0em;
		width: 90%;
		justify-content: space-between;
	}
	.signature-name {
		font-size: 15.25px;
	}
	.advisor-paragraph-container {
		height: 155px;
	}
	
}


@media (min-width: 1200px) {
	.landing-header {
		font-size: 50px;
		margin-top: 27.5vh;
	}
	.landing-subheader {
		font-size: 35px;
		margin-top: 16.50vh;
	}
	.navbar {
		margin-top: 2.5%; 
	}
	.navbar-list {
		font-size: 20px;
		margin: 0.25% 5%;
	}
	.section-header {
		font-size: 40px;
	}
	.section-subheader {
		font-size: 20px;
	}
	.calendar {
		width: 70%;
		height: 500px;
	}
	#box {
		width: 70%;
		height: 500px;
	}
	.check-in-frame {
		width: 35%;
		height: 575px;
		display: inline-block;
	}
	.check-out-frame {
		width: 35%;
		height: 575px;
		display: inline-block;
		margin-top: 0em;
	}
	.copyright {
		font-size: 15px;
	}
	.signature {
		font-size: 15px;
	}
	.advisor-name {
		font-size: 17px;
	}
	.eboard-name {
		font-size: 16px;
	}
	.advisor-description {
		font-size: 15.75px;
	}
	.eboard-description {
		font-size: 15px;
	}
	.advisor-image {
		max-width: 175px;
		height: auto;
	}
	.eboard-image {
		max-width: 150px;
		height: auto;
	}
	.advisor-colors {
		height: 48px;
		width: 48px;
	}
	.steps-header {
		font-size: 24px;
	}
	.steps-paragraph {
		font-size: 18px;
	}
	.steps-colors {
		width: 50px;
		height: 50px;
	}
	.medal {
		max-width: 105px;
		height: auto;
	}
	.footer-colors {
		width: 30px;
		height: 30px;
	}
	.down-arrow {
		max-width: 38px;
		height: auto;
		margin-top: 18.75vh;
	}
	.up-button {
		width: 45px;
		height: 45px;
	}
	.step-boxes {
		width: 23.5%;
		height: 350px;
	}
	.advisor-box {
		width: 250px;
		height: 475px;
		margin: 2% 3.5%;
	}
	.eboard-box {
		width: 212px;
		height: 425px;
		margin: 1.75% 2%;
	}
	.eboard-paragraph-container {
		height: 163px;
	}
	.advisor-box:hover {
		transform: scale(1.15);
	}
	.eboard-box:hover {
		transform: scale(1.15);
	}
	.footer-icons {
		display: inline-block;
	}
	.signature-box {
		width: 1fr;
		display: inline-block;
	}
	.copyright-box {
		width: 1fr;
		display: inline-block;
	}
	.footer {
		margin-top: 2.0em;
		width: 90%;
		justify-content: space-between;
	}
	.signature-name {
		font-size: 15.25px;
	}
	.advisor-paragraph-container {
		height: 155px;
	}
}

@media (max-height: 450px) {
	.navbar {
		margin-top: 3%; 
	}
	.landing-header {
		margin-top: 22vh;
	}
	.landing-subheader {
		margin-top: 12vh;
		font-size: 21px;
	}
	.down-arrow {
		margin-top: 7vh;
	}
}













/*
#eboard-four {
	border: 15px solid;
	animation-name: eb;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes eb {
	0% {border-color: #FF0000}
	20% {border-color: #FF7F00;}
	40% {border-color: #FFFF00;}
	60% {border-color: #00FF00;}
	80% {border-color: #0000FF;}
	100% {border-color: #8B00FF;}
}

*/




